#func_popupEl {
	position: fixed;
	min-height : 400px;
	height : auto;
	/* width : 100px; */
	top: 100px;
	right : 50px;
	display: none;
}

#func_popupEl.show {
    display: block; /* 顯示 popup */
}


.popup2 {
    background-color: rgba(42, 30, 114, 0.4); /* Black with 75% opacity */
    position: fixed; /* Fixed position relative to the viewport */
    padding: 18px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    color: #f1f1f1;
	text-decoration: none;
	font-size: 18px;
	z-index: 999;
	border : solid 1px rgba(208, 201, 201, 0.75);
}


.closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
	font-size: 36px;
    cursor: pointer;
    z-index: 1000; /* 確保關閉按鈕在最上層 */
}


.ranking_item {
	border: solid 1px pink;
	padding: 4px;
	margin: 9px;
	font-size: 17px;
	width: 100px;
}


.ranking_item span {
	display: block;
    /* display: inline-block; */
    width: auto; 
    /* border: 1px solid pink;  */
    margin-right: 5px;
}


#func_popupTitleEl {
	margin: 15px 35px;
	height : 30px;
	display: block;
}