/* Sidebar container */
.sidebar {
	/* height: 60%; */
	height: auto;
	/* width: 0; */
	width: 200px;
	position: fixed;
	top: 50%; /* Position it at the middle of the screen */
	transform: translateY(-50%); /* Adjust it to be vertically centered */
	left: 0;
	/* background-color: #091332; */
	background-color: rgba(9, 19, 50, 0.5); /* 背景色具有透明度 */
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 10000;
	text-wrap: nowrap;
}



/* Sidebar links */
.sidebar a {
	padding: 10px 15px;
	text-decoration: none;
	font-size: 18px;
	color: rgb(211, 217, 236, 0.5);
	display: block;
	transition: 0.3s;
	border : solid pink 0.5;
}

/* Sidebar links hover effect */
.sidebar a:hover {
	color: #f1f1f1; /* Change text color on hover */
	/* background-color:  #364770; */
	background-color: rgba(54, 71, 112, 1); /* 改變區塊背景為不透明 */
}

.sidebar span:hover {
	color: #f1f1f1;
}

/* Optional: Ensure span does not interfere with link hover */
.sidebar span {
	color: inherit; /* Inherit color from parent <a> */
}

/* Close button */
.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/* Open button (toggle button) */
#toggle-btn {
	font-size: 24px;
	cursor: pointer;
	color: #111;
	padding: 10px 20px;
}


.flexDiv {
	display: flex;
	flex-direction: row;
    margin: 0;
}

.sidebarX {
	position: sticky;
	top: 50px; 
	height: auto;
	width: 200px;
	left: 0;
	background-color: rgba(9, 19, 50, 1); /* 不透明 */
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
	z-index: 10000;
	text-wrap: nowrap;
}

.sidebarX a {
	padding: 10px 15px;
	text-decoration: none;
	font-size: 18px;
	color: rgb(211, 217, 236, 0.5);
	display: block;
	transition: 0.3s;
	border : solid pink 0.5;
}


#toggle-btn {
	color : #666;
}

