#postcard {
	position: fixed;
	z-index: 1000;
	/* background: rgba(236, 190, 190, 0.7); */
	padding: 10px;
	right: 0;
	bottom: 40px;
	margin: 20px;
	border-radius: 10px;
	/* box-shadow: 1px 1px 1px grey; */
	min-height: 30px;
}

#createcard {
	position: absolute;
	z-index: 1000;
	background: rgba(236, 190, 190, 0.7);
	padding: 10px;
	right: 0;
	bottom: 70px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px grey;
	min-height: 30px;
}


#dialog label, #dialog input { display:block; }
#dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea { width: 95%; }
#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#action_btn { 
	cursor: pointer; 
	background-color: transparent;
    border: none;
    padding: 0;
	position: relative; 
}

#action_btn img {
	position: relative;
}

/* 建立背景 */
#action_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px; 
    height: 80px; 
    background-color: rgba(117, 141, 52, 0.7);
    border-radius: 50%;
    transform: translate(-50%, -90%);
    z-index: 0 ; 
	display: none;
}

#action_btn:hover::before {
	display: block;
}

.ui-dialog {
	z-index: 10002 !important;
	width : 650px !important;
	min-height : 500px !important; 
}

#dialog {
	display : none;
}


#popupEl {
	position: fixed;
}


.popup {
    background-color: rgba(208, 201, 201, 0.75); /* Black with 75% opacity */
    position: fixed; /* Fixed position relative to the viewport */
    padding: 16px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    color: white; /* White text color */
	z-index: 999;
}

/* Title Styling */
.popup h2 {
    font-size: 12px; /* Small font size */
    margin: 0; /* Remove default margin */
}

.popupText {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    margin: 8px 0 0 0; /* Top margin, no margin on sides or bottom */
}

/* 排行榜按鈕 */
#rank-info {
	position: fixed;
	z-index: 1000;
	/* background: rgba(236, 190, 190, 0.7); */
	padding: 10px;
	right: 0;
	bottom: 190px;
	margin: 20px;
	border-radius: 10px;
	/* box-shadow: 1px 1px 1px grey; */
	min-height: 30px;
}

#rank-info_btn { 
	cursor: pointer; 
	background-color: transparent;
    border: none;
    padding: 0;
	position: relative; 
}

#rank-info_btn img {
	position: relative;
}

/* 建立背景 */
#rank-info_btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px; 
    height: 80px; 
    background-color: rgba(117, 141, 52, 0.7);
    border-radius: 50%;
    transform: translate(-50%, -90%);
    z-index: 0 ; 
	display: none;
}

#rank-info_btn:hover::before {
	display: block;
}


.about2home-a {
	background-color: rgb(247, 237, 237);
	text-decoration: none;
	border: solid 3px pink; 
	border-radius : 15px; 
	padding:10px; 
	font-size: 15px;
	margin: 10px 0px;
	display: inline-block;
}

.about2home-a:hover {
    background-color: rgb(234, 208, 208);
}

