#postcard {
	position: absolute;
	z-index: 1000;
	background: rgba(236, 190, 190, 0.7);
	padding: 10px;
	right: 0;
	bottom: 140px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px grey;
	min-height: 30px;
}

#createcard {
	position: absolute;
	z-index: 1000;
	background: rgba(236, 190, 190, 0.7);
	padding: 10px;
	right: 0;
	bottom: 70px;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 1px 1px 1px grey;
	min-height: 30px;
}


#dialog label, #dialog input { display:block; }
#dialog label { margin-top: 0.5em; }
#dialog input, #dialog textarea { width: 95%; }
#tabs { margin-top: 1em; }
#tabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#action_btn { cursor: pointer; }

.ui-dialog {
	z-index: 1000 !important;
	width : 850px !important;
}

#dialog {
	display:none;
}


#popupEl {
	position: fixed;
}

.popup {
    background-color: rgba(208, 201, 201, 0.75); /* Black with 75% opacity */
    position: fixed; /* Fixed position relative to the viewport */
    padding: 16px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    color: white; /* White text color */
	z-index: 999;
}

/* Title Styling */
.popup h2 {
    font-size: 12px; /* Small font size */
    margin: 0; /* Remove default margin */
}

.popupText {
    font-size: 24px; /* Larger font size */
    font-weight: bold; /* Bold text */
    margin: 8px 0 0 0; /* Top margin, no margin on sides or bottom */
}